body {
  font-family: sans-serif;
}

.container {
  // margin-top: 50px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.tower-container {
  // display: flex;
  display: none;
  justify-content: center;
  @include mobile() {
    flex-direction: column;
  }
}

.heading {
  text-transform: uppercase;
  text-align: center;
}

.tower {
  margin: 10px;
  position: relative;
  @include mobile(){
    margin: 10px auto;
  }

  &.active {
    .base {
      background-color: $active;
    }
  }

  .pole {
    height: 150px;
    width: 20px;
    background-color: $pole-color;
    margin: auto;
    @include border-radius();
  }

  .disc {
    height: $disc-height;
    margin: auto;
    @include border-radius();
  }

  .disc-container {
    position: absolute;
    bottom: $base-height;
    width: $base-width;
  }

  #disc-1 {
    width: $base-width;
    background-color: green;
  }

  #disc-2 {
    width: $base-width - $disc-width-step;
    background-color: orange;
  }
  
  #disc-3 {
    width: $base-width - $disc-width-step * 2;
    background-color: red;
  }

  #disc-4 {
    width: $base-width - $disc-width-step * 3;
    background-color: blue;
  }
  
  #disc-5 {
    width: $base-width - $disc-width-step * 4;
    background-color: purple;
  }
  
  #disc-6 {
    width: $base-width - $disc-width-step * 5;
    background-color: orangered;
  }

  .base {
    background-color: $pole-color;
    width: $base-width;
    height: 20px;
    border-radius: 5px;
  }
}


.win-container {
  text-align: center;
  h2 {
    margin-bottom: 3px;
  }
  p {
    margin-top: 5px;
  }
} 