form.start-form
  input.start-form__textfield#disc-count(type="number", min="3", max="6", value="3")
  label(for="disc-count") Number of discs to start with (3-6)
  div
    button#start-button Start game