mixin tower(id)
  .tower(id=`tower-${id}`, data-index=`${id-1}`)
    .pole
    .disc-container
    .base


mixin discs
  .disc#disc-sm(data-disc-size="1")
  .disc#disc-md(data-disc-size="2")
  .disc#disc-lg(data-disc-size="3")